@model AddResultViewModel;

@{
    ViewData["Title"] = "Subject";
}
<div class="container text-start">
    <div class="row">
        <partial name="_SideNavPartial" />
        <div class="col border">
            <div class="container text-start">
                <div class="border p-2 mt-3">
                    <a asp-controller="Result" asp-action="ListResult" class="btn btn-light" data-mdb-ripple-init data-mdb-ripple-color="dark">
                        <i class="bi bi-list"></i>
                        Result List
                    </a>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <h4 class="mt-3">Create Subject</h4>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form class="mt-2" style="width:350px;" method="POST" asp-action="AddResult" asp-controller="Result">
                            <div class="mb-3">
                                <label asp-for="ResultViewModel.SubjectId"></label>
                                <div>
                                    <select class="form-select" asp-for="ResultViewModel.SubjectId">
                                        <option value="">Select a subject</option>
                                        @foreach (var subject in Model.Subjects)
                                        {
                                            <option value="@subject.Id">@subject.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ResultViewModel.SubjectId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ResultViewModel.StudentId"></label>
                                <div>
                                    <select class="form-select" asp-for="ResultViewModel.StudentId">
                                        <option value="">Select a Student</option>
                                        @foreach (var student in Model.Students)
                                        {
                                            <option value="@student.Id">@student.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ResultViewModel.StudentId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ResultViewModel.Mark" class="form-label"></label>
                                <input class="form-control" asp-for="ResultViewModel.Mark" placeholder="Mark" />
                                <span asp-validation-for="ResultViewModel.Mark" class="text-danger"></span>
                            </div>
            
                            <button type="submit" class="btn btn-danger">Add Result</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>