@model CreateStudentViewModel;

@{
    ViewData["Title"] = "Student";
}
<div class="container text-start">
    <div class="row">
        <partial name="_SideNavPartial" />
        <div class="col border">
            <div class="container text-start">
                <div class="border p-2 mt-3">
                    <a asp-controller="Student" asp-action="StudentList" class="btn btn-light" data-mdb-ripple-init data-mdb-ripple-color="dark">
                        <i class="bi bi-list"></i>
                        Student List
                    </a>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <div>
                        <h2 class="fs-2" style="font-weight:bold;">Student Detail</h2>
                        <dl class="row" style="font-size:1.2em;">
                            <dt class="col-sm-3">Name:</dt>
                            <dd class="col-sm-9">@Model.Name</dd>

                            <dt class="col-sm-3">Class:</dt>
                            <dd class="col-sm-9">@Model.Class</dd>

                            <dt class="col-sm-3">Date of Birth:</dt>
                            <dd class="col-sm-9">@Model.DateOfBirth?.ToString("dd-MM-yyyy")</dd>
                        </dl>
                        <div>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>