<div class="col-3 border full-height">
    <div class="side-nav list-group mt-3">
        <a asp-controller="Home" asp-action="AdminDashboard" class="list-group-item list-group-item-action @ViewData["dashboard"] " aria-current="true">
            Dashboard
        </a>
        <a asp-controller="Student" asp-action="StudentList" class="list-group-item list-group-item-action @ViewData["student"]" aria-current="true">
            Students
        </a>
        <a asp-controller="Subject" asp-action="ListSubject" class="list-group-item list-group-item-action @ViewData["subject"]" aria-current="true">
            Subjects
        </a>
        <a href="#" class="list-group-item list-group-item-action " aria-current="true">
            Results
        </a>
    </div>
</div>